# Exercise 3
___
* 쉼표 단위로 구분된 정수를 임의의 수만큼 입력받은 후 이 숫자들을 오름차순으로 정렬하여 출력하시오.

<span style="color: blue">**실행결과**</span>

쉼표로 구분된 정수를 여러 개 입력하시오 : 56,67,89,34,24,300,99  
입력된 정수의 리스트 : [56, 67, 89, 34, 24, 300, 99]  
정렬된 정수의 리스트 : 24, 34, 56, 67, 89, 99, 300

In [3]:
# 먼저 여러 개의 정수를 문자열로 입력 받는다.
s = input("쉼표로 구분된 정수를 여러 개 입력하시오 : ")

nums = s.split(',')           # 공백을 기준으로 나눠준다.
nums = list(map(int, nums))   # 나눈 문자들을 숫자로 바꿔준다.
print("입력된 정수의 리스트 :", nums)

nums = sorted(nums)                  # 오름차순으로 정렬

print("정렬된 정수의 리스트 : ", end = '')
for i in nums:
    print(i, end =' ')

쉼표로 구분된 정수를 여러 개 입력하시오 : 56,67,89,34,24,300,99
입력된 정수의 리스트 : [56, 67, 89, 34, 24, 300, 99]
정렬된 정수의 리스트 : 24 34 56 67 89 99 300