# LAB 5 - 1
___
1. 1부터 10까지의 숫자 중에서 짝수를 요소로 가지는 even_list라는 리스트를 생성하여라.(10포함, print()함수 사용)

<span style="color: blue">**실행결과**</span>

even_list = [2, 4, 6, 8, 10]

In [6]:
# even_list 생성
even_list = [2,4,6,8,10]

# 출력
print("even_list =", even_list)

even_list = [2, 4, 6, 8, 10]

2. range() 함수를 이용하여 1번의 문제를 다시 풀어보시오.

In [2]:
# even_list를 range를 활용해 생성
even_list = list(range(2,11,2))

# 출력
print("even_list =", even_list)

even_list = [2, 4, 6, 8, 10]

3. 'Korea', 'China', 'India', 'Nepal' 의 네 원소를 가지는 nations라는 리스트를 생성하여라. (print()함수 사용)

<span style="color: blue">**실행결과**</span>

nations = ['Korea', 'China', 'India', 'Nepal']

In [7]:
# nations 생성
nations = ['Korea', 'China', 'India', 'Nepal']

# 출력
print("nations =", nations)

nations = ['Korea', 'China', 'India', 'Nepal']

4. 여러분의 친한 친구 5명의 이름을 원소로 가지는 friends라는 리스트를 생성하여라.

<span style="color: blue">**실행결과**</span>

friends = ['길동', '철수', '은지', '지은', '영민']

In [4]:
# friends 생성
friends = ['길동', '철수', '은지', '지은', '영민']

# 출력
print("friends =", friends)

friends = ['길동', '철수', '은지', '지은', '영민']

5. 'XYZ' 문자열을 이용하여 'X', 'Y', 'Z'라는 요소를 가지는 string이라는 이름의 리스트를 생성하여라.

<span style="color: blue">**실행결과**</span>

string = ['X', 'Y', 'Z']

In [5]:
# 문자열로부터 리스트 string 생성
string = list('XYZ')

# 출력
print("string =", string)

string = ['X', 'Y', 'Z']