# LAB 10 - 4

---

1. reduce() 함수를 사용하여 1에서 100까지 정수의 합을 구하여라. 이 때 range(1, 101)을 입력으로 사용하여라.

<span style = "color : blue">**실행결과**</span>

1에서 100까지의 합 : 5050

In [2]:
from functools import reduce

n = reduce(lambda x, y: x + y, range(1, 101))

print("1에서 100까지의 합 :", n)

1에서 100까지의 합 : 5050

2. reduce() 함수를 사용하여 10!을 구하여라. 이 때 range(1, 11)을 입력으로 사용하여라.

<span style = "color : blue">**실행결과**</span>

10! = 3628800

In [4]:
n = reduce(lambda x, y: x * y, range(1, 11))

print("10! =", n)

10! = 3628800