# LAB 10 - 3

---

1. ['a', 'b', 'c', 'd']와 같은 영문 소문자가 들어있는 a_list라는 이름의 리스트를 ['A', 'B', 'C', 'D']와 같이 영문 대문자가 들어있는 upper_a_list라는 이름의 리스트로 변환시키는 map() 함수를 작성하여라.

(1) 이때 소문자를 매개변수로 받아 대문자를 반환하는 to_upper()라는 이름의 함수를 정의하여 변환시키시오.  
(2) (1)에서 생성한 to_upper() 함수를 lambda 함수로 고쳐서 간결하게 변환시키시오

<span style = "color : blue">**실행결과**</span>

upper_a_list = ['A', 'B', 'C', 'D']

In [1]:
a_list = ['a', 'b', 'c', 'd']

def to_upper(x):
    return x.upper()

upper_a_list = list(map(to_upper, a_list))

print('(1)')
print('upper_a_list =', upper_a_list)

upper_a_list = list(map(lambda x: x.upper(), a_list))
print('(2)')
print('upper_a_list =', upper_a_list)

(1)
upper_a_list = ['A', 'B', 'C', 'D']
(2)
upper_a_list = ['A', 'B', 'C', 'D']

2. [10, 20, 30]과 같은 값을 가진 n_list라는 이름의 리스트를 map() 함수에 넣은 후의 결과는 각각 다음과 같다.

(1) twice()와 triple()이라는 이름의 함수를 만들어서 각각 입력 값의 2배와 3배 큰 값을 반환하도록 하시오. 그리고 map() 함수를 이용하시오.  
(2) twice()와 triple() 함수를 lambda 함수로 고쳐서 간결하게 변환시키시오.

<span style = "color : blue">**실행결과**</span>

입력 값의 두 배 : [20, 40, 60]  
입력 값의 세 배 : [30, 60, 90]

In [3]:
n_list = [10, 20, 30]

def twice(x):
    return x * 2

def triple(x):
    return x * 3

a2 = list(map(twice, n_list))
a3 = list(map(triple, n_list))

print('(1)')
print('입력 값의 두 배 :', a2)
print('입력 값의 세 배 :', a3)

a2 = list(map(lambda x: x * 2, n_list))
a3 = list(map(lambda x: x * 3, n_list))

print('(2)')
print('입력 값의 두 배 :', a2)
print('입력 값의 세 배 :', a3)

(1)
입력 값의 두 배 : [20, 40, 60]
입력 값의 세 배 : [30, 60, 90]
(2)
입력 값의 두 배 : [20, 40, 60]
입력 값의 세 배 : [30, 60, 90]